body {
    background-image: url("../images/starBackground.png");
    color: white;
    text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

.char {
    background-color: black;
    border: 5px solid white;
    outline: 2px solid black;
    border-radius: 5px;
}

#instructions {
    padding-top: .4em;
    font-size: 1.5rem;
    background-color: rgba(99, 82, 255, 0.5);
    border: 5px solid white;
    outline: 2px solid black;
    border-radius: 5px;
}

img {
    max-width: 6em;
    max-height: 6em;
}

.center {
    text-align: center;
}

.topMarg {
    margin-top: 2em;
}

.botMarg {
    margin-bottom: 1em;
}

.uBack {
    background-color: rgba(99, 82, 255, 0.5);
}

.eBack {
    background-color: rgba(219, 0, 0, 0.76);
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}



/* .row#chooseCharacter {
    height: 18em;
} */